*.o
*.swp
*.d
*.a
.project
.cproject
.settings
relativize
/Makefile
server/Debug/vcrypt_server
vcrypt_client_cmdline/Debug/vcrypt_client_cmdline
opus-1.1/
polarssl-1.2.8/
polarssl-1.2.8-downloaded
server/Debug/server.conf
vcrypt-messenger/audiooutput.pro.user
vcrypt-messenger/audiooutput.pro.user.*
vcrypt-messenger/vcrypt-messenger.pro.user
vcrypt-messenger/vcrypt-messenger.pro.user.*
vcrypt-messenger-build
